// Define variables for your color scheme

// For example:
$bluegris: #125356;
$bluegrisligter: #1E7173;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$beige: #fffffe;
$cardheadline: #181818;
$cardbackkground: #f0e2e1;
$vertdeau: #4fc4cf;
$violet: #994ff3;
$jaune: #fbdd74;
$background: #f2eef5;
$paragraph: #2e2e2e;
$main: #f2eef5;
$ocean: #0081C9;
$sun: #FFC93C;
$river: #5BC0F8;
$sky: #86E5FF;

$white: #fff;
$black: #333;
$lightergray: #d5d5d5;
$lightgray: #f0f3f1;
$gray: #e3dddd;
$text: #888;
$button: #3e3e3f;
$button-hover: #565657;
