// *{
// margin: 0;
// padding: 0;
// font-family: 'Courier New', Courier, monospace;
// box-sizing: border-box;
// }

.container-grand {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  box-sizing: border-box;
}
.container-about{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $beige;
}

.about-section {
  // background: url('https://res.cloudinary.com/dygywvyiq/image/upload/v1672734371/joanabossa/318435662_1115604002489399_7633973986142170601_n_xrbona.jpg') no-repeat left;
  background-size: 55%;
  background-color: $sun;
  overflow: hidden;
  padding: 100px 0;
}

.inner-container {
  width: 55%;
  float: right;
  background-color: $ocean;
  padding: 150px;
}
.inner-container h1{
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
}

.text {
  font-size: 13px;
  color: black;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}

.skills {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 13px;
}
@media screen and (max-width: 1200px ) {
    .inner-container {
      padding: 80px;
    }
}
@media screen and (max-width: 1000px ) {
  .about-section {
    background-size: 100%;
    padding: 100px 40px;
  }
  .inner-container{
      width: 100%;
  }
}

@media screen and (max-width: 600px ) {
  .about-section {

    padding: 0;
  }
  .inner-container{
      padding: 60px;
  }
}
// <div class="container-grand">
// <div class="container-about">
// <div class="about-section">
// <div class="inner-container">
// <h1> About me</h1>
// <p class="text">
// djchskdjhvsd:kjhvds:k vsvjjvfhdjfhvjdfkhvdf:khvd:hvdf
//     </p>
//     <div class="skills">
//     <span>photoshop</span>
//     <span>travel</span>
//     <span>design</span>
//     </div>
//     </div>
// </div>
// </div>
// </div>
