
.cover-pages {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://res.cloudinary.com/dygywvyiq/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1671373019/joanabossa/308056436_622214206019091_4024967529802079631_n_jj8llr.jpg");
  height: 880px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.cover-pages h1 {
  margin: 0;
  background-position: top;
  color: $cardbackkground;
  font-size: 94px;
  font-weight: bold;
  text-shadow: 3px 5px 6px #000000;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Great Vibes', cursive;


}

.text-gradient {
  background: -webkit-linear-gradient(#white,#black );
  -webkit-background-clip: text;
  -webkit-text-fill-color: $cardbackkground;
}



.cover-pages p {
  font-size: 36px;
  color: #972419;
  opacity: .9;
  margin-bottom: 80px;
  text-shadow: 1px 1px 1px #000000;
  font-family: 'Bebas Neue', cursive;

}
