
.show-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 24px;
  justify-content: space-between;
  align-items: center;
  margin: 40px;


  //responsive
}
@media(max-width: 992px) {
  .show-container {
    grid-template-columns: 1fr
  }
}

@media(max-width: 768px) {
  .show-container {
    grid-template-columns: 1fr;
  }
}
