<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/joanabossajewelry/"><i class="fab fa-instagram"></i></a>
    <a href="https://m.facebook.com/profile.php?id=100039268365139&_rdr"><i class="fab fa-facebook"></i></a>
    <a href="https://www.linkedin.com/in/joana-bogdanova-52214339/?originalSubdomain=cr"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
   Joanabossa   <%= image_tag "logo.png", alt: "alttext", class: "avatar"%> Jewelry
   <%# <i class="fas fa-heart"></i> %>
  </div>
</div>
