<div class="container">
  <div class="indication-couleur">
    <br>
    <div class="card-white text-center">
      <h1>About me</h1>
        <img src="https://res.cloudinary.com/dygywvyiq/image/upload/v1671373020/308230721_1297191224151669_2678423957877147998_n_a1jv9f.jpg" alt="logo" class = "img-circle shadowed" >
    </div>
          <br>
          <br>
    <div class="card-white text-center"id="intro">
      <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint voluptatibus pariatur qui voluptates, repellat illo. Quibusdam fugiat qui accusantium dignissimos, suscipit rem amet incidunt magni voluptatum, dolores mollitia repellendus nulla.</p>
      <%= link_to "Join me", categories_path, class: "btn-bluegris" %>
    </div>
    <br>
    <br>
    <div class="card-white text-center">
      <h2>I'm passionate about designing objects</h2>
        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing euibusdam fugiat qui accusantium dignissimos, suscipit rem amet incidunt magni voluptatum, </p>
    </div>
    <br>
  <br>
  </div>
</div>
