<div class="banner-about" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dygywvyiq/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1672823791/joanabossa/Capture_d_e%CC%81cran_2023-01-04_a%CC%80_10.16.15_okae3s.png);">
  <div class="container">
    <center><h1 class="about-me"><strong>About</strong>  <strong></strong></h1></center>

  </div>
</div>

<div class="container-about">
<section class="about-section">
        <div class="container">
            <div class="row">
                <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                    <div class="inner-column">
                        <div class="sec-title">
                            <span class="title"></span>
                            <h2> I'm passionate about creating handmade and unique jelwery since 2005</h2>
                        </div>
                        <div class="text"> I'm Joana. Handmade jewelry is my heart and soul. I am addicted to creating pieces that you will love and treasure forever! Handmade is the truest way to say “loveless". Materials used in my work are unique and of high quality, many are recycled and repurposed. They are vibrant reminders that we can be creative with what we have.
                        With a passion for the craft, these handmade pieces are so much more than just jewelry. They’re a way to channel your creativity, remind ourselves of who we are and make memories with others.
              </div>

                      <div class="text">As a positive and creative person, I'm always charged with enthusiasm to discover, learn and improve. A professional creative strategist with an expertise on cultural management of festivals and events. I have been involved in diverse projects united by the idea of creating positive value for communities. A grassroots researcher, social entrepreneur, creative policymaker and a believer in the potential of communication to charge and inspire positive change

                      </div>
                        <div class="btn-box">
                            <center><a href="https://www.instagram.com/joanabossajewelry/" class="btn-index">Follow me</a></center>

                        </div>
                    </div>
                </div>

                <!-- Image Column -->
                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column wow fadeInLeft">
                      <div class="author-desc">
                        <h2>Joana </h2>
                        <span>Bossanova</span>
                      </div>
                        <figure class="image-1"><a href="#" class="lightbox-image" data-fancybox="images"><img title="Joana" src="https://res.cloudinary.com/dygywvyiq/image/upload/v1672734371/joanabossa/315304324_3293004937609516_6823079923001588381_n_vl0fit.jpg" alt=""></a></figure>

                    </div>
                </div>

            </div>
          <div class="sec-title">
                            <%# <span class="title">My art</span> %>
                            <h2>Each piece is handmade and unique with a story to tell!</h2>
                        </div>
          <%# <div class="text">

              <div class="text">

              <div class="text">

              </div>
              <div class="text">

              </div>
              <div class="text">

              </div>
        </div> %>
    </section>
    </div>
    <%= render "shared/footer" %>
