<div class="cover-pages mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
    <h1 class="text-gradient">Joanabossa </h1>
      <p><span data-controller="typed-js"></span></p>
       <%= link_to "See all collections", categories_path, class: "btn-blue" %>
  </div>
</div>
