<div class="banner-home">
  <div class="container">
    <h1>Welcome to Joana Bossanova's jewerly store</h1>
      <p>Handmade jewerly with a story to tell</p>
       <%= link_to "See all collections", categories_path, class: "btn-blue" %>
  </div>
</div>
