   <div class="rounded bg-white shadow p-6 contact text-center">

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p>Thank you! Your message has been sent. I will answer as soon as possible!</p>
    <br>
    <p>Joana</p>






    <%= link_to "Home", "/categories", class:"btn-index" %>
