body {

  font-size: 18px;
  line-height: 1.6;
  font-weight: lighter;

  margin: 0;
  position: relative;
  height: auto;

}
// h1, h2 {
//   font-family: 'Montserrat', sans-serif;
//   font-weight: bold;
// }

// h2 {
//   color: #A0A0A0;
//   font-weight: normal;
// }
// a {
//   text-decoration: none;
//   color: #4352A1;
// }
/* Media queries */
@media(max-width: 900px) {
  .container {
    width: 700px;
  }
}
@media(max-width: 750px) {
  .container {
    width: 450px;
  }
}
@media(max-width: 500px) {
  .container {
    width: 350px;
  }
  .banner {
    padding: 50px 0;
  }
  .banner h1 {
    font-size: 30px;
  }
  .banner p {
    font-size: 20px;
  }
}
