.card-category {
  background-size: cover;
  background-position: center;
  height: 460px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.card-category h1:hover {
  color: turquoise;
}


//card product/id
.card-show {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 10px;
}

.card-show > img {
  height: 650px;
  width: 100%;
  object-fit: cover;
}

.card-show h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-show p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-show .card-show-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-show-infos .card-show-logo {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
