
  .index-cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 24px;
    justify-content: space-between;
    align-items: center;
    // margin-left: px;
    margin-bottom: 38px;
  }

  @media(max-width: 992px) {
    .index-cards-container {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media(max-width: 768px) {
    .index-cards-container {
      grid-template-columns: 1fr;
    }
  }



  //card-index
  .card-index {
    overflow: hidden;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }

  .card-index > img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }

  .card-index h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  .card-index p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
  }


  .card-index .card-index-infos {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
  }

  .card-index-infos .card-index-user {
    position: absolute;
    right: 16px;
    top: -20px;
    width: 40px;
  }
