.contact {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://res.cloudinary.com/dygywvyiq/image/upload/v1673348797/pexels-photo-4439457_g7oksp.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: inherit;
  color: $beige;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 700px;
}
