.footer {
  background: $beige;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 67px;
  padding: 0px 50px;
  // color: rgba(0,0,0,0.3);
  color: $cardheadline;
  font-family: 'Great Vibes', cursive;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
