.navbar-lewagon {
  justify-content: space-between;
  background: $beige;
  color: $cardheadline;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  font-family: 'Great Vibes', cursive;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.search {
  border-radius: 50px;
}
