// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "config/colors";

// Your CSS partials
@import "components/index";
@import "pages/index";
body {
  color: #494949;
  font-size: 18px;
  line-height: 1.6;
  font-weight: lighter;
  font-family: 'Lora', serif;
  margin: 0;
}
h1, h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
h2 {
  color: #A0A0A0;
  font-weight: normal;
}
a {
  text-decoration: none;
  color: #4352A1;
}
